@import "../scss/bourbon/bourbon";
@import "../scss/normalize.scss";
@import "../scss/rem";

/*style reset*/
table {
    border-collapse: collapse;
}

td, th {
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li, ol, dl, dt, dd {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    &:hover {
        @extend a;
    }
}

em, i {
    font-style: normal;
}

/*clearfix*/
.clearfix:before, .clearfix:after {
    content: "\20";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

html, body {
    position: relative;
    height: 100%;
    .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        .next {
            position: absolute;
            width: rem(82);
            height: rem(60);
            left: 50%;
            bottom: rem(50);
            margin-left: rem(-41);
            .all {
                display: block;
                width: rem(82);
                height: rem(21);
                background: url("../img/page.png") no-repeat;
                background-size: 100%;
            }
            .arrow {
                display: block;
                position: absolute;
                left: 50%;
                top: rem(40);
                width: rem(36);
                height: rem(21);
                margin-left: rem(-18);
                background: url("../img/next.png") no-repeat;
                background-size: 100%;
                @include animation(slideInUp 2s linear infinite);
            }
        }
        &.page1 {
            position: relative;
            .video {
                position: absolute;
                top: 0;
                left: 0;
                width: rem(640);
                height: rem(360);
                background: #fff;
            }
            .slogan {
                position: absolute;
                top: rem(360);
                left: rem(0);
                width: rem(640);
                .slogan-bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    background: #000;
                    @include animation(fadeIn 0.5s ease-in both);

                }
                .slogan-t1 {
                    position: absolute;
                    top: rem(60);
                    left: rem(60);
                    width: rem(435);
                    height: rem(371);
                    background: url("../img/p1-01.png") no-repeat;
                    background-size: 100%;
                    @include animation(fadeOut 0.5s linear both);
                }
                .slogan-name {
                    position: absolute;
                    top: rem(480);
                    right: rem(70);
                    width: rem(353);
                    height: rem(38);
                    background: url("../img/p1-02.png") no-repeat;
                    background-size: 100%;
                    @include animation(fadeOut 0.5s linear both);
                }
            }
            .swiper-container.page5{
                position: absolute;
                top: rem(395);
                width: 100%;
                height: rem(406);
                .swiper-slide{
                    img{
                        width: rem(542);

                        height: rem(406);
                    }
                }
                .button-prev{
                    position: absolute;
                    width: rem(19);
                    height: rem(47);
                    top: 50%;
                    margin-top: rem(-23);
                    background: url("../img/left.png") no-repeat;
                    background-size: 100%;
                    z-index: 1000;
                    left: rem(10);
                }
                .button-next{
                    position: absolute;
                    width: rem(19);
                    height: rem(47);
                    top: 50%;
                    margin-top: rem(-23);
                    background: url("../img/right.png") no-repeat;
                    background-size: 100%;
                    z-index: 1000;
                    right: rem(10);
                }
                .swiper-pagination-bullet-active{
                    background: #000;
                    opacity: .6;;
                }
            }
            .btn{
                position: absolute;
                width: rem(281);
                height: rem(90);
                bottom: rem(85);
                left: 50%;
                margin-left: rem(-140);
                background: url("../img/btn.png") no-repeat;
                background-size: 100%;
                a{
                    display: block;
                    width: rem(281);
                    height: rem(90);
                }
            }
        }
        &.page2 {
            width: rem(640);
            height: 100%;
            .page2-box {
                position: relative;
                top: 0;
                left: 0;
                width: rem(640);
                height: rem(860);
                overflow: hidden;
                ul {
                    position: absolute;
                    left: 0;
                    top: 0;
                    overflow: hidden;
                    visibility: hidden;
                    height: 100%;
                    li {
                        height: 100%;
                        float: left;
                        overflow: hidden;
                        img {
                            display: block;
                            width: auto;
                            height: 100%;
                        }
                    }
                }
                .pop,.pop2,.pop3 {
                    position: absolute;
                    bottom: rem(-270);
                    left: 0;
                    width: 100%;
                    height: rem(270);
                    background: rgba(255, 255, 255, 0.9);
                    &.on{
                        @include animation(site 10s linear 3s infinite );
                    }
                    .site {
                        position: absolute;
                        left: rem(50);
                        top: rem(58);
                        &.p2{
                            width: rem(430);
                            height: rem(155);
                            background: url("../img/page2-t.png") no-repeat;
                            background-size: 100%;
                        }
                        &.p3{
                            width: rem(409);
                            height: rem(155);
                            background: url("../img/page3-t.png") no-repeat;
                            background-size: 100%;
                        }
                        &.p4{
                            width: rem(409);
                            height: rem(155);
                            background: url("../img/page4-t.png") no-repeat;
                            background-size: 100%;
                        }


                    }
                }
                .bottom {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: rem(175);
                    width: rem(640);
                    background: #fff;
                }
            }
        }
        &.page6{
            position: relative;
            .top{
                position: relative;
                width: 100%;
                height: rem(280);
                background: #f2f2f2;
                .left{
                    position: absolute;
                    left: 50%;
                    top: rem(25);
                    margin-left: rem(-87);
                    img{
                        width: rem(174);
                        height: rem(92);
                    }
                }
                .right{
                    position: absolute;
                    top: rem(125);
                    left: 50%;
                    margin-left: rem(-162);
                    img{
                        width: rem(324);
                        height: rem(120);
                    }
                }
            }
            .con{
                position: absolute;
                left:0 ;
                top: rem(300);
                width: 100%;
                height: auto;
                background: #fff;
                img{
                    width: rem(519);
                    height: rem(614);
                    margin: 0 auto;
                }
            }
            .bottom{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: rem(60);
                background: #f2f2f2;
                padding-top: rem(20);
                img{
                    width: rem(96);
                    height: rem(33);
                }
            }
        }
    }
}

@include keyframes(fadeIn) {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@include keyframes(fadeOut) {
    0% {
        opacity: 0.5;
        @include transform(translateY(30px));
    }
    100% {
        opacity: 1;
        @include transform(translateY(0px));
    }
}
@include keyframes(slideInUp) {
    0% {
        opacity: 0.5;
        @include transform(translateY(0px));
    }
    50% {
        opacity: 1;
        @include transform(translateY(10px));
    }
    100% {
        opacity:0.5;
        @include transform(translateY(0px));
    }
}

@include keyframes(site) {
    0% {
        @include transform(translateY(rem(0)));
    }
    10% {
        @include transform(translateY(rem(-270)));
    }
    50% {
        @include transform(translateY(rem(-270)));
    }
    60% {
        @include transform(translateY(rem(0)));
    }
    100% {
        @include transform(translateY(rem(0)));
    }
}